<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
		<script src="../../assets/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
        <br>
        <div>
            <textarea rows="2" cols="50" id="burger" placeholder="Put burger Here"></textarea>
            <button id="devouredBurg">Add to list to be Devoured</button>
        </div>
	</body>
</html>
