<div class="column is-half">
    {{#each burger}}
        {{#unless devoured}}
        <p>{{burger_name}} Waiting to be eaten!</p>
        <button type="submit" class="button is-black devoured" data-id={{id}}>NUM NUM</button>
    {{/each}}
</div>
